<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ORM Examples</title>
    </head>
    <body>
        <h1>Users</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.age}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
